## Java

*.class
*.war
*.ear
hs_err_pid*

## Robovm
AsteroidArcade/ios/robovm-build/

## GWT
AsteroidArcade/html/war/
AsteroidArcade/html/gwt-unitCache/
.apt_generated/
.gwt/
gwt-unitCache/
www-test/
.gwt-tmp/

AsteroidArcade/html/libs/

## Android Studio and Intellij and Android in general
AsteroidArcade/android/libs/armeabi/
AsteroidArcade/android/libs/armeabi-v7a/
AsteroidArcade/android/libs/arm64-v8a/
AsteroidArcade/android/libs/x86/
AsteroidArcade/android/libs/x86_64/
AsteroidArcade/android/gen/
.idea/
*.ipr
*.iws
*.iml
AsteroidArcade/android/out/
com_crashlytics_export_strings.xml
AsteroidArcade/android/build/

## Eclipse

.classpath
.project
.metadata/
AsteroidArcade/android/bin/
AsteroidArcade/core/bin/
AsteroidArcade/desktop/bin/
AsteroidArcade/html/bin/
AsteroidArcade/ios/bin/
AsteroidArcade/ios-moe/bin/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.externalToolBuilders/
*.launch

## NetBeans

AsteroidArcade/nbproject/private/
AsteroidArcade/android/nbproject/private/
AsteroidArcade/core/nbproject/private/
AsteroidArcade/desktop/nbproject/private/
AsteroidArcade/html/nbproject/private/
AsteroidArcade/ios/nbproject/private/
AsteroidArcade/ios-moe/nbproject/private/

AsteroidArcade/build/
AsteroidArcade/android/build/
AsteroidArcade/core/build/
AsteroidArcade/desktop/build/
AsteroidArcade/html/build/
AsteroidArcade/ios/build/
AsteroidArcade/ios-moe/build/

AsteroidArcade/nbbuild/
AsteroidArcade/android/nbbuild/
AsteroidArcade/core/nbbuild/
AsteroidArcade/desktop/nbbuild/
AsteroidArcade/html/nbbuild/
AsteroidArcade/ios/nbbuild/
AsteroidArcade/ios-moe/nbbuild/

AsteroidArcade/dist/
AsteroidArcade/android/dist/
AsteroidArcade/core/dist/
AsteroidArcade/desktop/dist/
AsteroidArcade/html/dist/
AsteroidArcade/ios/dist/
AsteroidArcade/ios-moe/dist/

AsteroidArcade/nbdist/
AsteroidArcade/android/nbdist/
AsteroidArcade/core/nbdist/
AsteroidArcade/desktop/nbdist/
AsteroidArcade/html/nbdist/
AsteroidArcade/ios/nbdist/
AsteroidArcade/ios-moe/nbdist/

nbactions.xml
nb-configuration.xml

## Gradle

AsteroidArcade/local.properties
.gradle/
gradle-app.setting
AsteroidArcade/build/
AsteroidArcade/android/build/
AsteroidArcade/core/build/
AsteroidArcade/desktop/build/*
AsteroidArcade/html/build/
AsteroidArcade/ios/build/
AsteroidArcade/ios-moe/build/

## OS Specific
.DS_Store
Thumbs.db

.recommenders/